:root {
  --bg-primary: #111111;
  --bg-secondary: #222222;
  --bg-tertiary: #1b1b1b;

  --fg-primary: #fff;
  --fg-secondary: #eee;
  --fg-tertiary: #ddd;
}

h1, h2, h3, h4, h5, h6, p, b, i, a {
  margin: 0;
}

h1 {
  font-weight: 300;
}

h2, h3 {
  font-weight: 200;
}

p {
  font-weight: 100;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--bg-primary);
  color: var(--fg-primary);
}

main {
  display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.card {
  background-color: var(--bg-secondary);
  padding: 8px 12px;
  border-radius: 6px;
  margin-bottom: 6px;
}

.card * {
  align-self: center;
}

.primary-card > * {
  margin-top: 6px;
}

.secondary-card {
  background-color: var(--bg-tertiary);
}

.icon {
  font-weight: 100;
  font-size: 22px;
}

.largeIcon {
  font-weight: 100;
  font-size: 48px;
}

.large {
  font-size: 24px; 
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}